<div class="col-4 mx-2 mt-2">
  <div class="card bg-dark text-white mt-2" style="border-radius: 1rem">
    <div class="card-body p-2 text-center">
      <div>
        <h5>Note Details:</h5>
        <section *ngIf="notes | async as note">
          <h3>{{note.name}}</h3>
          <p>{{note.date}}</p>
          <p>{{note.id}}</p>
          <p>{{note.remark}}</p>
        </section>
      </div>
      <button class="btn btn-success" [routerLink]="['../']">Go Back</button>
    </div>
  </div>
</div>
