<button class="btn btn-secondary btn-lg text-white m-2" (click)="modalService.open();removeForm() ">Add new note</button>


<div class="col-4 m-0 overflow-y-scroll h-3/5 w-full px-52 z-0">

  <div class="card bg-dark text-white mt-2" style="border-radius: 1rem" *ngFor="let note of notesList | async">
    <div class="card-body p-2 text-center">
      <div class="flex items-end">
        <button type="button" class="btn btn-secondary btn-sm"
          (click)="modalService.open(); openEditNoteForm(note)">Edit</button>
        <button (click)="deleteNote(note.id)" type="button" class="btn btn-secondary btn-sm">Delete</button>
      </div>
      <div>
        <h3>"{{note.name}}" № {{note.number}}</h3>
        <p>Date: {{note.date}}</p>
        <p *ngIf="note.remark">Remark: {{note.remark}}</p>
      </div>
    </div>

  </div>

</div>

<app-modal *ngIf="modalService.isVisible$ | async" title="Create new product">
  <div class="mb-md-5 mt-md-4 pb-5">

    <form [formGroup]="noteForm" (ngSubmit)="addNewNote()">
      <div class="form-outline form-white mb-4">
        <label class="form-label" for="typeTextX">Name</label>
        <input formControlName="name" type="text" id="typeTextX" class="form-control form-control-lg" />
        <p *ngIf="this.noteForm.get('name')?.invalid && this.noteForm.get('name')?.touched"><small
            class="text-danger">Name is required (min. length = 2, max. length = 20)</small></p>
      </div>
      <div class="form-outline form-white mb-4">
        <label class="form-label" for="typeNumberX">Number</label>
        <input formControlName="number" type="number" id="typeNumberX" class="form-control form-control-lg" />
        <p *ngIf="this.noteForm.get('number')?.invalid && this.noteForm.get('number')?.touched"><small
            class="text-danger">Number is required (min value = 1, max value = 10000)</small></p>
      </div>
      <div class="form-outline form-white mb-4">
        <label class="form-label" for="typeDateX">Date</label>
        <input formControlName="date" type="date" id="typeDateX" class="form-control form-control-lg" />
        <p *ngIf="this.noteForm.get('date')?.invalid && this.noteForm.get('date')?.touched"><small
            class="text-danger">Date is required</small></p>
      </div>
      <div class="form-outline form-white mb-4">
        <label class="form-label" for="textarea">Remark</label>
        <textarea formControlName="remark" class="form-control" id="textarea" rows="3"></textarea>

        <p *ngIf="this.noteForm.get('remark')?.invalid && this.noteForm.get('remark')?.touched"><small
            class="text-danger">Max. length is 500</small></p>
      </div>
      <button *ngIf="!isEdit" [disabled]="noteForm.invalid" type="submit"
        class="py-2 px-4 bg-blue-300 text-white rounded">Create</button>

      <button *ngIf="isEdit"  (click)="updateNote()" type="button" class="py-2 px-4 bg-blue-300 text-white rounded">Save</button>
      <button (click)="modalService.close()" type="button"
        class="py-2 px-4 bg-red-300 text-white rounded">Cancel</button>
    </form>

  </div>
</app-modal>
