
  <app-modal *ngIf="modalService.isVisible$ | async" title="Create new product">
    <app-note-form></app-note-form>
  </app-modal>

  <button class="btn btn-secondary btn-lg text-white m-2"
  (click)="modalService.open()">Add new note</button>


  <div class="col-4 m-0 overflow-y-scroll h-3/5 w-full px-52 z-0">

    <div
      class="card bg-dark text-white mt-2"
      style="border-radius: 1rem"
      *ngFor="let note of notesList | async"
    >
      <div class="card-body p-2 text-center">
        <div class="flex items-end">
          <button type="button" class="btn btn-secondary btn-sm" (click)="modalService.open()">Edit</button>
          <button (click)="deleteNote(note.id)" type="button" class="btn btn-secondary btn-sm">Delete</button>
        </div>
        <div>
          <h3>"{{note.name}}" № {{note.number}}</h3>
          <p>Date: {{note.date}}</p>
          <p *ngIf="note.remark">Remark: {{note.remark}}</p>
        </div>
      </div>

    </div>

  </div>

