<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div>
            <p class="mb-5">
              <a routerLink="../notes" class="btn btn-secondary btn-lg  " role="button" aria-pressed="true"
         >View list of notes.</a>
            </p>

          </div>

          <div>
            <div class="mb-0">
              <p>You must be authorized to continue working.</p>
              <a routerLink="../login" class="text-white-50 fw-bold">Authorization. </a></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
