
<div class="p-1 mb-5">
  <button class="btn btn-secondary btn-sm" [routerLink]="['../']">Return to main page</button>
</div>
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-5">

            <h2 class="fw-bold mb-2 text-uppercase">Sign Up</h2>
            <p class="text-white-50 mb-5">Please enter your email and password!</p>

            <form [formGroup]="signUpForm" (ngSubmit)="signUpSubmit()">
              <div class="form-outline form-white mb-4">
                <input formControlName="name" type="text" id="typeTextX" class="form-control form-control-lg"/>
                <label class="form-label" for="typeTextX">Name</label>
                <p  *ngIf="this.signUpForm.get('name')?.invalid && this.signUpForm.get('name')?.touched"><small class="text-danger">Name is required (min. length = 2, max. length = 20)</small></p>
              </div>
              <div class="form-outline form-white mb-4">
                <input formControlName="email" type="email" id="typeEmailX" class="form-control form-control-lg"/>
                <label class="form-label" for="typeEmailX">Email</label>
                <p *ngIf="this.signUpForm.get('email')?.invalid && this.signUpForm.get('email')?.touched"><small class="text-danger">Email is required</small></p>
              </div>

              <div class="form-outline form-white mb-4">
                <input formControlName="password" type="password" id="typePasswordX" class="form-control form-control-lg"/>
                <label class="form-label" for="typePasswordX">Password</label>
                <p  *ngIf="this.signUpForm.get('password')?.invalid && this.signUpForm.get('password')?.touched"><small class="text-danger">Password is required (min. length = 8)</small></p>
              </div>
              <button [disabled]="signUpForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Sign Up</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

